.symbols {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: inline-block;
    color: rgba(black, 0.54);
  }

  .container {
    margin-top: 20px;
    text-align: center;
  }

  .label {
    font-weight: 900;
    text-align: center;
    user-select: none;
  }
}

.symbol {
  user-select: none;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.symbol:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.tools {
  margin: 12px 0 20px;

  .tool {
    padding: 10px;
    border: 2px solid #ccc;
    width: 14px;

    &.active {
      background-color: #ccc;
    }

    &:not(.active):hover {
      background-color: #eee;
    }

    &:not(:first-child) {
      border-left: none;
    }
  }
}
